Package: libglib2.0-tests
Source: glib2.0
Version: 2.58.2-3
Architecture: amd64
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 12786
Depends: shared-mime-info, libc6 (>= 2.28), libdbus-1-3 (>= 1.9.14), libgcc1 (>= 1:3.0), libglib2.0-0 (>= 2.58.2-3), libpcre3, libstdc++6 (>= 4.1.1)
Section: libs
Priority: optional
Homepage: http://www.gtk.org/
Description: GLib library of C routines - installed tests
 GLib is a library containing many useful C routines for things such
 as trees, hashes, lists, and strings.  It is a useful general-purpose
 C library used by projects such as GTK+, GIMP, and GNOME.
 .
 This package contains test programs, designed to be run as part of a
 regression testsuite.
