Package: libglib2.0-dev-bin-dbgsym
Source: glib2.0
Version: 2.58.2-3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Debian GNOME Maintainers <pkg-gnome-maintainers@lists.alioth.debian.org>
Installed-Size: 76
Depends: libglib2.0-dev-bin (= 2.58.2-3)
Breaks: libglib2.0-0-dbg (<< 2.51.4-1~)
Replaces: libglib2.0-0-dbg (<< 2.51.4-1~)
Section: debug
Priority: optional
Description: debug symbols for libglib2.0-dev-bin
Build-Ids: c3e4e676e42b3f334db840cb70e861a714dd0260 f7c82324a4f573bc67ae940474ddf6302004e7aa f8f4c8d5f98c14c4c5a908afe2a765d7bc311126
